<div class="page-content header-clear-large">
	<div class="content-box bg-white shadow-large">
		<h4 class="top-25"><i class="fa fa-file font-14 top-5 color-teal-dark float-right"></i>Configuración</h4>
		<p class="font-12 bottom-20">
			Opciones de Configuración
		</p>
	</div>
	<div class="content-box bg-white">
		<ul class="link-list link-list-large bottom-0">
			<li><a href="page-system.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-server color-gray-dark"></i><span>Estado del Sistema</span><em>Muestra el estado de los servicios de postventa.</em></a></li>
			<li><a href="page-about.html"><i class="fa fa-angle-right"></i><i class="font-18 fa fa-power-off color-night-dark"></i><span>About Us</span><em>An example of an about page</em></a></li>
			<li><a href="page-article-cards.html"><i class="fa fa-angle-right"></i><i class="font-18 far fa-sticky-note color-green-dark"></i><span>Article Cards</span><em>Instant loading Article Cards</em></a></li>
			<li><a href="page-article-list.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-list color-red-dark"></i><span>Article List</span><em>Instant loadign Article List</em></a></li>
			<li><a href="page-careers.html"><i class="fa fa-angle-right"></i><i class="font-14 far fa-handshake color-brown-dark"></i><span>Careers</span><em>Searching for a new colleague?</em></a></li>
			<li><a href="page-error.html"><i class="fa fa-angle-right"></i><i class="font-18 fa fa-exclamation-circle color-red-light"></i><span>Error 404</span><em>Oh no! You're on the wrong page</em></a></li>
			<li><a href="page-embeds.html"><i class="fa fa-angle-right"></i><i class="font-16 fab fa-youtube color-red-dark"></i><span>Embeds</span><em>Embed videos to your page with ease</em></a></li>
			<li><a href="page-faq.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-question color-brown-dark"></i><span>F.A.Q's</span><em>Here are some Frequent Questions</em></a></li>
			<li><a href="page-login.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-lock color-green-dark"></i><span>Login</span><em>Login page template, ready built</em></a></li>
			<li><a href="page-maintenance.html"><i class="fa fa-angle-right"></i><i class="font-18 fa fa-cog color-red-dark"></i><span></span><em>Take your page offline and leave a message.</em></a></li>
			<li><a href="page-signup.html"><i class="fa fa-angle-right"></i><i class="font-18 fa fa-lock color-blue-dark"></i><span>Register</span><em>Register page template, ready built</em></a></li>
			<li><a href="page-team.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-user color-teal-dark"></i><span>Team Page</span><em>Meet our team, it's instant too</em></a></li>
			<li><a href="page-timeline-1.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-bars color-green-dark"></i><span>Timeline 1</span><em>A timeline list of your events</em></a></li>
			<li><a href="page-timeline-2.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-bars color-yellow-dark"></i><span>Timeline 2</span><em>A timeline columns of your events</em></a></li>
			<li><a href="page-forgot.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-question color-red-dark"></i><span>Forgot Page</span><em>Forgot your password? Reset it</em></a></li>
			<li><a href="page-profile-1.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-user color-blue-dark"></i><span>Profile 1</span><em>A simple and beautiful profile page.</em></a></li>
			<li><a href="page-profile-2.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-user color-pink-dark"></i><span>Profile 2</span><em>A simple and beautiful profile page.</em></a></li>
			
			<li><a href="page-task-progress.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-check-circle color-green-dark"></i><span>Task Progression</span><em>Show off the progress of your tasks</em></a></li>
			<li><a href="page-tos.html"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-bookmark color-red-dark"></i><span>Terms of Service</span><em>A sample of terms and conditions</em></a></li>
			<li><a href="page-soon.html"><i class="fa fa-angle-right"></i><i class="font-16 far fa-clock color-green-dark"></i><span>Under Construction</span><em>A page with a message and countdown.</em></a></li>
			<li><a href="page-vcard.html" class="no-border"><i class="fa fa-angle-right"></i><i class="font-16 fa fa-id-card color-night-dark"></i><span>Downloadable V-Card</span><em>View and download contact information</em></a></li>
		</ul>
	</div>
</div>