<div class="page-bg gradient-body-9"></div>
<div class="cover-item cover-item-full">			
	<div class="cover-content-center">
		<div class="landing-header">
			<h1 class="center-text fa-4x text-shadow ultrabold color-white bottom-10">DATVIEW</h1>							
		</div>
		<div class="landing-page">								
			<div class="landing-icons">
				<a href="#" onclick="cargar_pagina('calendario.html');">
					<i class="gradient-red-light shadow-icon-large fa fa-calendar"></i>
					<em>Calendario</em>
				</a>
				<a href="#" onclick="cargar_pagina('tickets.html');">
					<i class="gradient-yellow-dark shadow-icon-large fa fa-ticket-alt"></i>
					<em>Tickets</em>
				</a>         
				<a href="#" onclick="cargar_pagina('mapa.html');">
					<i class="gradient-magenta-light shadow-icon-large fa fa-map"></i>
					<em>Mapa</em>
				</a>            
				<a href="#" onclick="cargar_pagina('bitacora.html');">
					<i class="gradient-blue-light shadow-icon-large fa fa-book"></i>
					<em>Bitacora</em>
				</a>
				<a href="#" onclick="cargar_pagina('contactos.html');">
					<i class="gradient-orange-light shadow-icon-large fa fa-users"></i>
					<em>Contactos</em>
				</a>         
				<a href="#" onclick="cargar_pagina('sincronizacion.html');">
					<i class="gradient-brown-light shadow-icon-large fa fa-sync-alt"></i>
					<em>Sincronización</em>
				</a>   
				<!--a href="#" onclick="cargar_pagina('soporte.html');">
					<i class="gradient-mint-light shadow-icon-large fa fa-envelope"></i>
					<em>Soporte</em>
				</a> 
				<a href="#" onclick="cargar_pagina('configuracion.html');">
					<i class="gradient-night-light shadow-icon-large fa fa-cog"></i>
					<em>Configuración</em>
				</a-->
				<a href="#" onclick="cargar_pagina('emergencia.html');">
					<i class="gradient-mint-dark shadow-icon-large fa fa-ambulance"></i>
					<em>Emergencia</em>
				</a>   		
				
											
				<div class="clear"></div>
			</div>
			<!--div class="landing-footer">
				<p class="center-text color-white opacity-40">Copyright <span class="copyright-year"></span> Datview. Todos los derechos reservados</span>
			</div-->			
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function(){
		ajustar_coverpage();		
	});	
</script>