<div class="map-full cover-item">	
	<iframe class="cover-item" src="" id="iframe_mapa"></iframe>
	<div class="volver_mapa">
		<a href="#" onclick="cargar_pagina('inicio.html');" class="button button-s button-center-medium button-red button-round shadow-icon-large uppercase ultrabold">Volver</a>
	</div>
</div>
<script>	
	ajustar_coverpage();
	
	jQuery(document).ready(function(){
		obtener_geolocalizacion();
	});	
	
	function obtener_geolocalizacion() {
		if (navigator.geolocation){
			navigator.geolocation.getCurrentPosition(cambiar_url_mapa);
		} else {
			jQuery('.map-full').html("Para ver el mapa primero debes activar la geolocalizacion.");
		}
	}

	function cambiar_url_mapa(position) {		
		var url_mapa		= "https://maps.google.com/?ie=UTF8&ll=" + position.coords.latitude + "," + position.coords.longitude + "&spn=0.006186,0.016512&t=h&z=17&output=embed";
		jQuery('#iframe_mapa').attr('src',url_mapa);
	}	
</script>