<div class="timeline-cover preload-image shadow-large" data-src="images/pictures/9.jpg">
	<div class="overlay overlay-dark"></div>
	<div class="content">
		<h1 class="timeline-heading color-white thiner bottom-0">Supervisor 1</h1>
		<span class="timeline-sub-heading color-white small-text opacity-50">Bitácora del 25 Marzo 2019</span>
		<div class="timeline-image preload-image" data-src="images/pictures/0s.png"></div>
	</div>
</div>
<div class="timeline-body bottom-0">
	<div class="timeline-deco"></div>
	<div class="timeline-item top-10">
		<i class="fa fa-ticket-alt bg-pink-dark scale-hover"></i>
		<div class="timeline-item-content">
			<h5 class="thin">
				Cambio de estado del Ticket 366 
			</h5>			
			<a href="#" class="button twitter-bg button-round shadow-icon-large button-xs uppercase ultrabold boton_bitacora_ver_tkt"><span class="fa fa-eye"></span> Ver Ticket</a>					
		</div>		
	</div>
	<div class="timeline-item">
		<i class="fa fa-map-marker bg-green-dark scale-hover"></i>		
		<div class="notificacion_bitacora">			
			<h4 class="uppercase ultrabold bottom-0">Ticket 366</h4>
			<p>El ticket ha cambiado de estado a Visitas Coordinadas.</p>
			<div class="icono"><span class="fa fa-eye" onclick="ver_ticket();"></span></div>
		</div>
	</div>
	<div class="timeline-item">
		<i class="fab fa-google-plus-g google-bg scale-hover"></i>
		<div class="timeline-item-content-full">
			<img data-src="images/pictures/9w.jpg" alt="img" src="images/empty.png" class="preload-image responsive-image">
			<h5 class="thin center-text">
				Our first Photo on Google Plus. We're adding stuff here too now!
			</h5>
		</div>
	</div>
	<div class="timeline-item">
		<i class="fab fa-facebook-f facebook-bg scale-hover"></i>
		<div class="timeline-item-content">
			<h5 class="thin center-text">
				Just updated our Facebook Page. You can visit it <a href="#">on our Page</a>.
			</h5>
		</div>
	</div>
	<div class="timeline-item">
		<i class="fab fa-twitter twitter-bg scale-hover"></i>
		<div class="timeline-item-content">
			<h5 class="thin center-text">
				Twitter is struggling to get users. We're considering moving over to Google Plus. <a href="#">#feedback #needed</a>
			</h5>
			<a href="#" class="button twitter-bg button-center-medium button-round shadow-icon-large top-20 button-xs uppercase ultrabold">Follow us @iEnabled</a>
		</div>
	</div>
	<div class="timeline-item">
		<i class="fa fa-exclamation-triangle bg-orange-dark scale-hover"></i>
		<div class="timeline-item-content">
			<h5 class="thin center-text">
				Don't get the iPhone 8. Really, it's the same as the iPhone 7. Get the iPhone X, or maybe an Android?
			</h5>
			<a href="#" class="button button-red button-center-medium button-round shadow-icon-large top-20 button-xs uppercase ultrabold">Read the Review</a>
		</div>
	</div>
</div>