<!-- Full Calendar CSS -->
<link href="scripts/postventa/fullcalendar-4.0.1/packages/core/main.css" rel="stylesheet" />
<link href="scripts/postventa/fullcalendar-4.0.1/packages/daygrid/main.css" rel="stylesheet" />
<link href="scripts/postventa/fullcalendar-4.0.1/packages/timegrid/main.css" rel="stylesheet" />

<div class="page-content header-clear-larger">
	<div class="content-box bg-white shadow-large">
		<div class="top-25 bottom-25">
			<h4>Calendario</h4>
			<p>Muestra los agendamientos visitas o trabajos pendientes y realizados.</p>
		</div>
	</div>
	<div class="content-box content-box-full shadow-large">
		
		<div class="calendar bg-white">
			<div id="calendario"></div>	
			<span class="cal-message bottom-15">
				<i class="fa fa-sun color-yellow-dark"></i>
				<strong class="color-gray-dark">Ahora, 24° Santiago.</strong>
				<strong class="color-gray-dark">Región Metropolitana</strong>
			</span>
			
			<div class="cal-footer">
				<h6 class="cal-sub-title uppercase ultrabold bg-blue-light">Tareas Para Hoy</h6>
				<div class="cal-schedule">
					<em>08:00 PM<br>10:00 AM</em>
					<strong>Closing Hours</strong>
					<span><i class="fa fa-map-marker"></i>Envato Headquarters</span>
				</div>
				<div class="cal-schedule">
					<em>10:00 AM<br>12:00 AM</em>
					<strong>Meeting with Board</strong>
					<span><i class="fa fa-building"></i>Office, Envato Headquarters</span>
				</div>
				<div class="cal-schedule">
					<em>12:00 AM<br>02:00 PM</em>
					<strong>Lunch</strong>
					<span><i class="fa fa-shopping-bag"></i>McDonalds, Town Hall</span>
				</div>
				<div class="cal-schedule">
					<em>02:00 PM<br>05:00 PM</em>
					<strong>Quarter Report</strong>
					<span><i class="fa fa-building"></i>Office, Envato Headquarters</span>
				</div>
				<div class="cal-schedule">
					<em>05:00 PM<br>07:00 PM</em>
					<strong>Get Wife from Work</strong>
					<span><i class="fa fa-car"></i>Wife's Work Headquarters</span>
				</div>
				<div class="cal-schedule">
					<em>07:00 PM<br>09:00 PM</em>
					<strong>Watch Movie</strong>
					<span><i class="fa fa-at"></i>with <u class="color-green-dark">John Doe</u>, <u class="color-orange-dark">Carla Black</u></span>
					<span><i class="fa fa-youtube-play"></i>Cinema Universe Mall</span>
				</div>
				<div class="cal-schedule">
					<em>09:00 PM<br>10:00 PM</em>
					<strong>Call David</strong>
					<span><i class="fa fa-phone"></i>Call David's Office Number</span>
				</div>
			</div>
		</div>		
	</div>		
</div>
<script type="text/javascript" src="scripts/postventa/fullcalendar-4.0.1/packages/core/main.js"></script>
<script type="text/javascript" src="scripts/postventa/fullcalendar-4.0.1/packages/interaction/main.js"></script>
<script type="text/javascript" src="scripts/postventa/fullcalendar-4.0.1/packages/daygrid/main.js"></script>
<script type="text/javascript">	
	var obj_calendario	= document.getElementById('calendario');
	var calendario 		= new FullCalendar.Calendar(obj_calendario, {
		plugins			: [ 'interaction', 'dayGrid', 'list' ],
		defaultDate		: '2019-03-12',
		editable		: true,
		eventLimit		: true, // allow "more" link when too many events
		locale			: 'es',
		firstDay		: 1,
		events			: [{
			title: 'All Day Event',
			start: '2019-03-01'
		},{
			title: 'Long Event',
			start: '2019-03-07',
			end: '2019-03-10'
		},{
			groupId: 999,
			title: 'Repeating Event',
			start: '2019-03-09T16:00:00'
		},{
			groupId: 999,
			title: 'Repeating Event',
			start: '2019-03-16T16:00:00'
		},{
			title: 'Conference',
			start: '2019-03-11',
			end: '2019-03-13'
		},{
			title: 'Meeting',
			start: '2019-03-12T10:30:00',
			end: '2019-03-12T12:30:00'
		},{
			title: 'Lunch',
			start: '2019-03-12T12:00:00'
		},{
			title: 'Meeting',
			start: '2019-03-12T14:30:00'
		},{
			title: 'Happy Hour',
			start: '2019-03-12T17:30:00'
		},{
			title: 'Dinner',
			start: '2019-03-12T20:00:00'
		},{
			title: 'Birthday Party',
			start: '2019-03-13T07:00:00'
		},{
			title: 'Click for Google',
			url: 'http://google.com/',
			start: '2019-03-28'
		}]
	});
		
	jQuery(document).ready(function(){
		calendario.render();
	});	
</script>