<div class="header-clear-large"></div>
<div class="content-box shadow-large bg-white">
	<div class="top-25 bottom-25">
		<h4>Contactos</h4>
		<p>Aqui se lista toda la informacion de los residentes y contactos guardados en su dispositivo.</p>		
	</div>
</div>
<div class="content-box content-box-full bg-white shadow-large">
	<div class="search-input-container">
		<div class="search-boxes">
			<div class="search">
				<i class="fa fa-search"></i>
				<input class="bg-white no-border" type="text" placeholder="Buscar Contacto..." data-search="">
			</div>
			<div class="search-results search-icon-list disabled-search-list bg-white"></div>
		</div>
	</div>
</div>

<div class="content-box bg-white">
	<ul class="link-list link-list-large bottom-0">
		<li>
			<a href="#" class="no-padding-left">
				<i class="fa fa-angle-right button button-xxs button-round button-blue btn_info_contacto"></i>
				<span>Ana Maria Salsedo</span>
				<em>ALTO AMUNATEGUI 1</em>
			</a>
		</li>
		<li>
			<a href="#" class="no-padding-left">
				<i class="fa fa-angle-right button button-xxs button-round button-blue btn_info_contacto"></i>
				<span>Andrea Griceti</span>
				<em>ESPACIO CARRIÓN</em>
			</a>
		</li>
		<li>
			<a href="#" class="no-padding-left">
				<i class="fa fa-angle-right button button-xxs button-round button-blue btn_info_contacto"></i>
				<span>Lucas Mendoza</span>
				<em>ESPACIO TERRA</em>
			</a>
		</li>		
	</ul>
</div>