<link href="scripts/postventa/datatables/datatables.css" rel="stylesheet" />
<div class="header-clear-large"></div>
<div class="content-box content-box-full content bottom-0">
	<div class="row">
		<h4 class="uppercase ultrabold top-30 bottom-10 center-text"><i class="fa fa-bookmark icon-clear-right color-red-dark"></i>Browse By Category</h4>
		<p class="center-text boxed-text-large bottom-30">
			Plenty of categories to choose from. You can also
			use icon lists like the main menu for this section.
		</p>
		<div class="store-categories">
			<a href="#"><i class="fa fa-mobile color-blue-dark fa-2x"></i><em>Phones</em></a>
			<a href="#"><i class="fa fa-tablet color-teal-dark fa-2x"></i><em>Tablets</em></a>
			<a href="#"><i class="fa fa-laptop color-gray-dark font-20"></i><em>Laptops</em></a>
			<a href="#"><i class="fa fa-desktop color-brown-dark font-18"></i><em>Desktop</em></a>
			<a href="#"><i class="fa fa-gamepad color-red-dark font-19"></i><em>Gaming </em></a>
			<a href="#"><i class="fa fa-tv font-19"></i><em>TV Sets</em></a>
			<a href="#"><i class="fa fa-battery-full color-green-dark font-20"></i><em>Batteries</em></a>
			<a href="#"><i class="fa fa-suitcase color-brown-dark font-15"></i><em>Accessories</em></a>
			<a href="#"><i class="fa fa-truck color-blue2-dark font-18"></i><em>Free Shipping</em></a>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="contenedor_tile">
			<a class="info-tile tile-indigo" href="#">
				<div class="tile-heading">
					<div class="center-text">TICKETS</div>
				</div>
				<div class="tile-body">
					<div class="pull-left"><i class="fa fa-ticket-alt"></i></div>
					<div class="pull-right">679</div>
				</div>
			</a>
		</div>
		<div class="contenedor_tile">
			<a class="info-tile tile-orange" href="#">
				<div class="tile-heading">
					<div class="center-text">VISITAS</div>					
				</div>
				<div class="tile-body">
					<div class="pull-left"><i class="fa fa-comments"></i></div>
					<div class="pull-right">32</div>
				</div>
			</a>
		</div>
		<div class="contenedor_tile">
			<a class="info-tile tile-green" href="#">
				<div class="tile-heading">
					<div class="pull-left">TRABAJOS</div>					
				</div>
				<div class="tile-body">
					<div class="pull-left"><i class="fa fa-download"></i></div>
					<div class="pull-right">6.7K</div>
				</div>
			</a>
		</div>
	</div>	
	
	<table class="table-borders-dark top-15 round-element bg-white shadow-large" id="tabla_tickets">
		<thead>
			<tr>
				<th class="text-center">TICKET</th>
				<th class="text-center">PROYECTO</th>
				<th class="text-center">UNIDAD</th>
				<th class="text-center">TORRE</th>				
				<th class="text-center">FECHA</th>
				<th class="text-center">HORA</th>
				<th class="text-center">ESTADO</th>
				<th class="text-center">DETALLE</th>									
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<script type="text/javascript" src="scripts/postventa/datatables/datatables.js"></script> 
<script type="text/javascript" src="scripts/postventa/pantallas/tickets.js"></script>